
.idea/.idea.YAPL/.idea/discord.xml
.idea/.idea.YAPL/.idea/encodings.xml
.idea/.idea.YAPL/.idea/indexLayout.xml
.idea/.idea.YAPL/.idea/vcs.xml
YAPL/bin/Debug/net7.0/YAPL.deps.json
YAPL/bin/Debug/net7.0/YAPL.dll
YAPL/bin/Debug/net7.0/YAPL.exe
YAPL/bin/Debug/net7.0/YAPL.pdb
YAPL/bin/Debug/net7.0/YAPL.runtimeconfig.json
YAPL/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
YAPL/obj/Debug/net7.0/apphost.exe
YAPL/obj/Debug/net7.0/ref/YAPL.dll
YAPL/obj/Debug/net7.0/refint/YAPL.dll
YAPL/obj/Debug/net7.0/YAPL.AssemblyInfo.cs
YAPL/obj/Debug/net7.0/YAPL.AssemblyInfoInputs.cache
YAPL/obj/Debug/net7.0/YAPL.assets.cache
YAPL/obj/Debug/net7.0/YAPL.csproj.AssemblyReference.cache
YAPL/obj/Debug/net7.0/YAPL.csproj.CoreCompileInputs.cache
YAPL/obj/Debug/net7.0/YAPL.csproj.FileListAbsolute.txt
YAPL/obj/Debug/net7.0/YAPL.dll
YAPL/obj/Debug/net7.0/YAPL.GeneratedMSBuildEditorConfig.editorconfig
YAPL/obj/Debug/net7.0/YAPL.genruntimeconfig.cache
YAPL/obj/Debug/net7.0/YAPL.GlobalUsings.g.cs
YAPL/obj/Debug/net7.0/YAPL.pdb
YAPL/obj/project.assets.json
YAPL/obj/project.nuget.cache
YAPL/obj/rider.project.restore.info
YAPL/obj/project.packagespec.json
YAPL/obj/YAPL.csproj.nuget.dgspec.json
YAPL/obj/YAPL.csproj.nuget.g.props
YAPL/obj/YAPL.csproj.nuget.g.targets
